html,
body {
  margin: 0;
  /* overflow: hidden; */
  height: 100%;
}

canvas[resize] {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

#main {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 945px) {
}
