body {
  font-family: "Raleway", sans-serif;
  color: white;
}

#top {
  height: 100vh;
  background-color: #262c53;
}

section#top .fade {
  display: block;
  animation: fadeIn 5s;
}

.particle-fade {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hey {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
}

#heySVG {
  bottom: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

#name {
  z-index: 2;
}

#anshul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
}

#aboutButton {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
}

#aboutSVG {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#about {
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 950px) {
  #anshul {
    width: 443;
    height: 50;
  }
}

.grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.grow-rotate:hover,
.grow-rotate:focus,
.grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  background-color: pink;
}

#about {
  background-color: black;
  color: white;
}
