*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: black;
  overflow-x: hidden;
}

#top {
  height: 100vh;
  background-color: black;
}

section#top .fade {
  display: block;
  animation: fadeIn 5s;
}

.particle-fade {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#hey {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
}

#heySVG {
  bottom: 10px;
  position: absolute;
  transform: translate(-50%, -50%);
}

#anshul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
  /* background: grey; */
  /* padding: 2vh; */
  width: 100%;
}
@media (max-width: 950px) {
  #anshul {
    width: 90%;
  }
}

#aboutButton {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  animation-delay: 3s;
  display: none;
}

#aboutSVG {
  /* display: none; */
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

#about {
  width: 100%;
  height: auto;
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.grow-rotate:hover,
.grow-rotate:focus,
.grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
  background-color: pink;
}

#about {
  background-color: black;
  color: white;
}

/* CONTACT */

.demo__buttons {
  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  right: 0px;
  bottom: 0px;
  width: 200px;
  height: 200px;
  /* transform: translate(-100px, -100px); */
  filter: url("#socials");
}
.demo__buttons.step-0 .social-1,
.demo__buttons.step-0 .social-2,
.demo__buttons.step-0 .social-3,
.demo__buttons.step-0 .social-4 {
  transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-1 .social-1 {
  transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-1 .social-2,
.demo__buttons.step-1 .social-3,
.demo__buttons.step-1 .social-4 {
  transform: translate3d(-50px, 50px, 0);
}
.demo__buttons.step-2 .social-1 {
  transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-2 .social-2 {
  transform: translate3d(-50px, 50px, 0);
}
.demo__buttons.step-2 .social-3,
.demo__buttons.step-2 .social-4 {
  transform: translate3d(50px, 50px, 0);
}
.demo__buttons.step-3 .social-1 {
  transform: translate3d(-50px, -50px, 0);
}
.demo__buttons.step-3 .social-2 {
  transform: translate3d(-50px, 50px, 0);
}
.demo__buttons.step-3 .social-3 {
  transform: translate3d(50px, 50px, 0);
}
.demo__buttons.step-3 .social-4 {
  transform: translate3d(50px, -50px, 0);
}
.demo__social-btn {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  background: white;
  color: #261758;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.demo__social-btn:hover {
  color: #106279;
  box-shadow: 0 0 15px white;
}
.demo__open-btn {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: 700;
  font-size: 30px;
  font-family: sans-serif;
  background: white;
  color: #261758;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}
.demo__open-btn:hover {
  color: #106279;
  box-shadow: 0 0 15px white;
}

.about-me {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: white;
  font-family: Roboto, Arial, sans-serif;
}
.about-me a {
  color: white;
}
.about-me a:hover {
  color: #6666ff;
}
