body {
  font-family: "Raleway", sans-serif;
  color: white;
}

#top {
  height: 100vh;
  background-color: #262c53;
}

section#top .fade {
  display: block;
  animation: fadeIn 5s;
}

.particle-fade {
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#name {
  z-index: 2;
}

#anshul {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
}

#aboutButton {
  /* position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%); */
  margin: auto;
  width: 50%;
  height: 70%;
  /* border: 3px solid #73ad21; */
  /* padding: 10px; */

  animation-delay: 2.5s;
}

#aboutSVG {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
}

#about {
  width: 100%;
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 950px) {
  #anshul {
    width: 443;
    height: 50;
  }
}
