:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

/* body */
section {
  margin-left: 5rem;
  padding: 1rem;
  background: #000000;
  font-family: monospace;
}

.titleArea {
  font-size: 2.5em;
  color: #fff;
}

.paragraphText p {
  font-size: 1.2em;
  color: #fff;
  text-indent: 50px;
}

/* text highlight */
::selection {
  background: rgba(59, 108, 151, 0.3);
}

/* scroll */
::-webkit-scrollbar {
  width: 0;
}

#path {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#scroll {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 138, 255, 0.8),
    rgba(0, 255, 231, 0.8)
  );
  animation: lights 5s linear infinite;
}

#scroll:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 138, 255, 0.8),
    rgba(0, 255, 231, 0.8)
  );
  filter: blur(10px);
}
#scroll:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #314263, rgba(0, 255, 231, 0.8));
  filter: blur(30px);
}

#percent {
  font-family: "Raleway";

  height: 20px;
  width: 43px;
  text-align: center;
  position: fixed;
  bottom: 15px;
  right: 25px;
  color: #fff;
  font-size: 1.5em;

  background: rgba(82, 76, 76, 0.3);
  padding: 20px 30px;

  /* background */
  /* background: linear-gradient(
    to top,
    rgba(31, 37, 41, 0.2),
    rgba(3, 63, 57, 0.5)
  ); 
  animation: lights 5s linear infinite;
  */
  /* height: 10px; */
  /* width: 20px; */

  /* make it sideways */
  /* transform: translateY(-50%) rotate(180deg); */
  /* top: 50% */
  /* writing-mode: vertical-rl; */
  /* text-orientation: sideways; */
}

@keyframes lights {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  #percent {
    top: 15px;
  }
}

/* nav */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
  font-family: "Raleway";
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.middle-text {
  padding-left: 4px;
  padding-right: 4px;
}

.last-text {
  padding-left: 2px;
}

.navbar:hover .logo svg {
  transform: rotate(-540deg);
}

/* Small */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  section {
    margin: 0;
  }
}

/* Large */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 15rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 2px;
  }
}

/* themes */
.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
